body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow'sans-serif;
}

.header {
    background-color: white;
    color: #32b9cd;
    border-bottom: 3px solid #00FFFF;


}

.container {
    width: 80%;
    margin: 0 auto;

}

.header .container {
    display: flex;
    justify-content: space-between;



}


.navbar {
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #00BFFF;
}

.agora {
    font-weight: 900;
}

.banner {
    background-image: url('img/1124066.jpg');
    background-size: cover;

}

.banner .container {
    height: 550px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}
form{
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 0 auto;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    width: min-content;
    color: #2b344b;
    justify-content: center;
    margin: auto 0;
    align-items: center;
   
   
  
}
title{
    font-size: 1.8em;
    margin-bottom: 10%;
    
}
input{
    min-width: 200px;
    border-radius: 22px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}
input:invalid{
animation: shake .2s ease-in-out 0s 2;
border: solid 5px #dc2626;


}
@keyframes shake{
    0%{
        transform: translateX(0rem)
    }
    25%{
        transform: translateX(-0.5rem)
    }
    75%{
        transform: translateX(0.5rem)
    }
    100%{
        transform: translateX(0rem)
    }
}
button{
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #00BFFF;
    width: 120px;
    height: 40px;
    transition: all 0.6s ease-in-out 0s;
    padding: 10px;
    border-radius: 12px;
  


}
button:hover{
    background: transparent;
    color: #00BFFF;
   
    box-shadow: 0 0 60px rgba(0, 191, 255);
    cursor: grab;
    border: 2px solid #00ffcb; 
}
.footer {
    background-color: #00BFFF;
    color: white;
    display: flex;
}

.footer .container {
    display: flex;
    height: 100px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius:solid 2px ;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2;
    padding: 0 2vw;
}
.gallery-items{
    width: 340px;
    height: 340px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    
}
.gallery-items img{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner p {
    font-size: 36px;
    width: 280px;
    margin-left: 20%;
    color: #daa520;
}

.container .card{
     
    position: relative;
    width: 300px;
    height: 320px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    
}
.container .card:hover{
    height: 420px;
}
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    
}
.container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}

.content .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
    justify-content: space-around;
}
.local {
    border-top: 1px solid #bdbabae5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 20px 0px;
  }

  .loc {
    padding-top: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #3498DB;
    display: flex;
    justify-content: center;
  }

  .maps {
    padding-top: 3vh;
    width: 60%;
    height: 56vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 0 4px 80px 0 rgb(0, 0, 0, 0.2);
  }
  li:hover{
    background: transparent;
    color: #0000ff;
   
    box-shadow: 0 0 60px;
    cursor: grab;
    border: 38px #0000FF; 
  }
  .icon{
      display: inline-block;
      font-size: 44px;
      animation: float 5s ease-in-out infinite;

  }
  .fa-brands .fa-whatsapp{
      animation-delay: 1s;
  }
  .fa-brands .fa-facebook{
      animation-delay: 2s;
  }
  @keyframes float{
      0%{
          transform: translateY(0);
      }
      50%{
          transform: translateY(-15px);
      }
      100%{
          transform: translateY(0);
      }
  }
  .footer .container h4{
      justify-content: center;
      align-items: center;
      margin: auto 0;
      text-align: center;
  }
  .localV{
    background-image: url(audio/transferir\ \(3\).jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    position: relative;
    background-size: 470px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
  
  }
  
  .textV{
    width: 30%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A8A8A8;
    color: white;
    font-size: 30px;
    opacity: 0.8;
    border-radius: 3px 3px 3px 3px;
  }
  
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}