body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow'sans-serif;
}

.header {
    background-color: white;
    color: #32b9cd;
    border-bottom: 3px solid #00FFFF;


}

.container {
    width: 80%;
    margin: 0 auto;

}

.header .container {
    display: flex;
    justify-content: space-between;



}


.navbar {
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #00BFFF;
}

.agora {
    font-weight: 900;
}

.banner {
    background-image: url(https://images2.alphacoders.com/112/1124066.jpg);
    background-size: cover;
    

}

.banner .container {
    height: 550px;
    display: flex;

    align-items: center;
    justify-content: center;
    align-items: center;
    
}
.form-control{
  
    margin: 0 auto;
   width: 250px;
   background: #fff;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 500px;
  
  
}
title{
    font-size: 1.8em;
    margin-bottom: 10%;
    
}
input{
    min-width: 200px;
    border-radius: 22px;
    border: 2px #6f7e8a solid;
    padding: 10px;
    margin: 0px 0px 12px -5px;
}
button{
   
    
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;

    color: white;
    background-color: #00BFFF;
    width: 120px;
    height: 40px;
    transition: all 0.6s ease-in-out 0s;
    padding: 10px;
    border-radius: 12px;

}
button:hover{
    background: transparent;
    color: #00BFFF;
   
    box-shadow: 0 0 60px rgba(0, 191, 255);
    cursor: grab;
    border: 2px solid #00ffcb; 
}



.footer {
    background-color: #00BFFF;
    color: white;
}

.footer .container {
    display: flex;
    height: 80px;
    align-items: flex-end;
    justify-content: space-evenly;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius:solid 2px ;
    color: #000;
}
.item{
    justify-content: space-between;
    align-items: flex-end;
    margin-right: auto;
}
.form-control.success input{
    animation: shake .2s ease-in-out 0s 2;
    border: solid 5px #4eca64
}
input:invalid{
    animation: shake .2s ease-in-out 0s 2;
    border: solid 5px #dc2626;
    
    
    }
    @keyframes shake{
        0%{
            transform: translateX(0rem)
        }
        25%{
            transform: translateX(-0.5rem)
        }
        75%{
            transform: translateX(0.5rem)
        }
        100%{
            transform: translateX(0rem)
        }
    }

    span{
        color: crimson;
    }
    li:hover{
        background: transparent;
        color: #0000ff;
       
        box-shadow: 0 0 60px;
        cursor: grab;
        border: 38px #0000FF; 
      }
      select{
          color: #000;
      }

      
.dash-right .avisos {
    width: 100%;
    /* border: 3px solid pink; */
    color: rgb(216, 216, 216);
    font-family: "Exo 2", sans-serif;
  }
  
 

  
  .dash-right .avisos .div-form label {
    width: 100%;
  }
  
  .dash-right .avisos .div-form input {
    width: 100%;
    border-radius: 5px;
  }
  
  .dash-right .avisos .div-form textarea {
    width: 100%;
    /* color: #E6005A; */
    border: 3px solid #00BFFF;
    background-color: white;
    border-radius: 5px;
  }
  
  .dash-right .avisos .div-form button {
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #00BFFF;
    width: 120px;
  }
  
 
  
  .publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 3px solid #00BFFF;
    padding: 20px;
  }
  
  .publicacao > *:not(:last-child) {
    padding: 0 0 10px 0;
  }
  
  .div-results {
    width: 100%;
  }
  
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}